:root {
--pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
--red-hat-display: 'Red Hat Display', sans-serif;
}

body {
    font-family: var(--red-hat-display);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: var(--pale-blue);
}

